<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>netgiro</name>
            <displayName><![CDATA[netgiro]]></displayName>
            <version><![CDATA[0.9]]></version>
            <description><![CDATA[Accepts payments using Debitcard by Netg&iacute;r&oacute;.]]></description>
            <author><![CDATA[]]></author>
            <tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall>Are you sure you want to delete NetGíró details?</confirmUninstall>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>